node_modules/
libs/Cesium/
dist/
target/
*.sublime-*
npm-debug.log
coverage/
web/.classpath
web/.project
web/.settings
backend/.classpath
backend/.project
.project
.settings
package-lock.json
.idea/vcs.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/.gitignore
.idea/modules.xml
.idea/mapstore-playground.iml
.idea/jsLinters/jshint.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
